.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@font-face {
  font-family: 'chalkaboutregular';
  src: url('./webfontkit-20191023-214706/chalkabout-webfont.woff2') format('woff2'),
       url('./webfontkit-20191023-214706/chalkabout-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.collapse5{
  visibility: hidden;
}
.jumbotron {
  background-image: url(/images/chalkboard.jpg);
  margin-bottom: 0px !important;
  background-size: 100% 300%;
  background-repeat: no-repeat;
  background-position: 0px -158px;
  color: white;
  font-family: 'chalkaboutregular', serif;
}
 #Title {
  font-size: 6.5rem;
 }

 #foodImage {
  height:Auto; 
  width: Auto;
 }

#Priceview {
  color:black;
}

.menu-item-container-fluid {
  background: white;
  text-align: center;
  height: auto;
  width: auto;
}

@media only screen and (max-width: 720px) {

  #Title{
      font-size: 2.5rem;
    }

    #foodImage {
      visibility: collapse;
    }

  .menu-item-container-fluid h2{
    color:Black;
    font-size:20px;
  }
  .menu-item-container-fluid h4{
    color:black;
    font-size:18px;
  } 
  .menu-item-container-fluid h5 {
    color:black;
    font-size:14px;
  }


}